  <div class="jumbotron">
    <h1 class="title">Winner Offer</h1>
    <p class="slogan">Winner Offer 是一个提供工作机会的求职网站。
    <br>
    给我你的梦想让我带你飞翔
    <br>
     凭借自己的努力和天份也会变 Winner
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">带着你的脑子</h2>
         <p class="lead">因为没有脑子你就没有自己的创意</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'eagle-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">用心写出的简历</h2>
         <p class="lead">一份好的简历相当与你的第二张脸</p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'eagle-4.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">当你准备好了这一切<br>那你就可以放飞自我了</h2>
         <p class="lead">记住！机会是留给有准备的人的！</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'eagle-5.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <section id="company">
   <div class = "container-fluid">
     <div class="row">
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
           <div class="caption">
             <h3>1111111</h3>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
           <div class="caption">
             <h3>info@winneroffer.com</h3>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
           <div class="caption">
             <h3>1111111</h3>
           </div>
         </div>
       </div>
     </div>
   </div>
</section>
